@import '../../partials/mixins';
@import '../../partials/variables';

.deleteShootModal {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  
  &__modal {
    background: #fff;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    left: 50%;
    min-height: 50%;
    padding-block: 2rem;
    padding-inline: 2rem;
    position: fixed;
    text-align: center;
    top: 25%;
    transform: translateX(-50%);
    width: 85%;
    
    @media(min-width: $tablet) {
      width: 50%;
    }
  }

  &__heading {
    font-size: 2rem;
    margin-block: auto;
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: auto;
  }

  &__button {
    @include button;
  }
}