@import '../../partials/mixins.scss';
@import '../../partials/variables.scss';

.shoots {
  margin-bottom: 1rem;
  max-width: 95%;
  min-width: 80%;
  
  &__inner {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
    height: 80%;
    
    &.onShootDetails {
      grid-template-columns: repeat(2, 1fr);
      
      @media(min-width: $tablet) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    
    @media(min-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    
    @media(min-width: $desktop) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__button-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }

  &__editShootOrder {
    @include button;
    margin-inline: auto;
  }
}


.shoots {

  &__placeholders {
    position: sticky;
    display: none;
    
    &.show {
      
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(1, 1fr);
      min-width: 100%;
      opacity: 0.5;
      
      
      &.onShootDetails {
        grid-template-columns: repeat(2, 1fr);
        
        @media(min-width: $tablet) {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    
      @media(min-width: $tablet) {
        grid-template-columns: repeat(2, 1fr);
      }
      
      @media(min-width: $desktop) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    
    
  }
  &__placeholder {
    width: 100%;
    min-width: 100%;
    background: var(--placeholder-color);
    border-radius: var(--borderRadius);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__placeholder-img {
    @include shootImg;
  }

  &__placeholder-textContainer {
    // border: 2px solid red;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background: var(--background-color);
    padding-block: 0.75rem;
  }

  &__placeholder-models,
  &__placeholder-photographers {
    background: var(--placeholder-color);
    border-radius: var(--borderRadius);
    height: 2rem;
    width: 65%;
  }
  
  &__placeholder-photographers {
    width: 75%;
  }
}