@import '../../partials/mixins.scss';
@import '../../partials/variables.scss';

.shoots {
  max-width: min(calc(100vw - 4rem), $desktop);
  min-width: min(calc(100vw - 4rem), $desktop);
  
  &__inner {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
    height: 80%;
    min-height: 55vh;
    min-width: 100%;
    position: sticky;
    
    &.onShootDetails {
      grid-template-columns: repeat(2, 1fr);
      min-height: 0;
      
      @media(min-width: $tablet) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    
    @media(min-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    
    @media(min-width: $desktop) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__button-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }

  &__editShootOrder {
    @include button;
    margin-inline: auto;
  }

  &__placeholders {
    display: none;
    position: sticky;
    
    &.show {
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr;
      min-width: 100%;
      
      &.onShootDetails {
        grid-template-columns: repeat(2, 1fr);
        
        @media(min-width: $tablet) {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    
      @media(min-width: $tablet) {
        grid-template-columns: repeat(2, 1fr);
      }
      
      @media(min-width: $desktop) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  &__placeholder {
    align-items: center;
    background: var(--placeholder-color);
    border-radius: var(--borderRadius);
    display: flex;
    flex-direction: column;
  }
  
  &__placeholder-img {
    @include shootImg;
    min-width: 100%;
  }

  &__placeholder-textContainer {
    align-items: center;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-block: 0.75rem;
    width: 100%;
  }

  &__placeholder-models,
  &__placeholder-photographers {
    background: var(--placeholder-color);
    border-radius: var(--borderRadius);
    height: 2rem;
    width: 65%;
  }
  
  &__placeholder-photographers {
    width: 75%;
  }
}