@import '../../partials/mixins.scss';
@import '../../partials/variables.scss';

.navSelect {
  height: 3rem;
  margin-inline-end: 0;
  max-width: 17.25rem;
  min-width: 17.25rem;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 1;
  
  @media(min-width: $largeTablet) {
    margin-inline-end: 1rem;
  }
  
  &.tall {
    z-index: 2;
  }
  
  &__inner {
    max-height: 3rem; 
    overflow-y: auto; 
    position: absolute;
    scrollbar-width: none;
    transition: max-height 0.25s ease;
    width: 100%;
  }
  
  &.tall &__inner {
    max-height: 40rem;

    @media(min-width: $largeTablet) {
      max-height: 30rem;
      transition: max-height 0.5s ease;
    }
  }
  
  &.short &__inner {
    overflow-y: hidden;
  }

  &__select {
    color: var(--text-color);
    cursor: pointer;
  }

  &__default-option {
    
    @media(min-width: $largeTablet) {
      text-transform: uppercase;
    }

    &.hide {
      display: none;
    }
    
    &.show {
      display: block;
    }
  }
  
  &__selectValue {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 3rem;
    position: relative;
  }
  
  &__option {
    align-items: center;
    background: var(--background-color);
    border-bottom: 2px solid var(--text-color);
    display: flex;
    height: 4rem;
    justify-content: center;
    outline: none;
    position: relative;
    
    @media(min-width: $largeTablet) {
      border-bottom: none;
      height: 3rem;
      text-transform: uppercase;
      background: var(--navAndFooterBG);
    }
  }

  /* Hide the scrollbar */
  &::-webkit-scrollbar {
    width: 0;
  }

  &__down {
    align-items: center;
    border: 2px solid red;
    display: flex;
    height: 3rem;
    position: absolute;
    right: 0.60rem;
    top: 0;
    justify-content: center;
    width: 3rem;
    
    @media(min-width: $largeTablet) {
      right: 0.65rem;
      // top: 50%;
      // transform: translateY(-90%);
      // width: 0.75rem;
    }
    
    &__stroke {
      stroke: var(--text-color);
    }
  }
  
  &__down-icon {
    height: 14px;
    width: 14px;
  }
  
  &__down-stroke {
    stroke: var(--text-color);
    stroke-width: 20px;
  }

  &__touchOffDiv {
    display: none;
    height: 100dvh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    
    &.show {
      display:block;
      cursor: auto;
      z-index: 1;
    }
  }
}
