@import '../../partials/variables';

.sideNav {
  width: 0;
  background: orange;
  height: 100vh;
  position: sticky;
  top: 0;
  bottom: 0;
  right: 0;
  margin-inline-start: 100%;
  z-index: 3;
  transition: all 0.5s ease-out;
  
  @media(min-width: $tablet) {
    display: none;
  }
  
  &.show {
    margin-inline-start: 50%;
    width: 50%;
  }

  &__inner {
    height: 100%;
    position: relative;
    border: 2px solid blue;
  }
  
  &__close-button {
    width: 2.5rem; 
    height: 2.5rem;
    position: fixed;
    top: 0.75rem;
    padding-top: 1rem;
    margin-inline-start: 25%;
    transform: translateX(-50%);
    border: 2px solid blue;
    background: yellow;
    cursor: pointer;
    z-index: 1;
  }
    
  &__close-icon {
    position: absolute;
    width: 100%;
    height: 3.5px;
    border-radius: 2px;
    background-color: #333; 
    transform-origin: center;
  }
    
  &__close-icon:first-child {
    transform: rotate(45deg);
  }
    
  &__close-icon:last-child {
    transform: rotate(-45deg);
  }

  &__menu {
    border: 2px solid red;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  &__links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    max-width: 50%;
    margin-top: 50%;
  }

  &__link {
    font-weight: bold;
  }
}

.isiPhone {
  border: 2px solid blue;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  z-index: 10;
}