@import '../../partials/mixins.scss';
@import '../../partials/variables.scss';

.shoot {
  cursor: pointer;
  position: relative;
  
  &__img {
    @include shootImg;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding-block: 0.75rem;

    &.smallText {
      display: none;
    }
  }

  &__models, 
  &__photographers {
    color: var(--text-color);
    font-size: 1.125rem;
    letter-spacing: 2.5px;
    text-align: center;
  }

  &__delete-btn {
    align-items: center;
    background: var(--background-color);
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    display: flex;
    height: 2.5rem;
    justify-content: center;
    outline: 1px solid var(--text-color);
    position: absolute;
    right: 0.75rem;
    top: 0.75rem;
    padding: 0.55rem;
    width: 2.5rem;
    
    &:hover {
      scale: 1.05;
    }
  }

  &__delete-btn---icon {
    fill: var(--text-color);
  }

  .models__label, 
  .photographers__label {
    display: none;
  }
}