@import '../../partials/mixins.scss';
@import '../../partials/variables.scss';

.shoot {
  cursor: pointer;
  position: relative;

  &__overlay {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  &.draggable {
    // border: 2px solid red;
    cursor: grab;
  }
  
  &__img {
    @include shootImg;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding-block: 0.75rem;

    &.smallText {
      display: none;
    }
  }

  &__models, 
  &__photographers {
    color: var(--text-color);
    font-size: 1.125rem;
    letter-spacing: 2.5px;
    text-align: center;
  }

  &__delete-btn {
    align-items: center;
    background: var(--background-color);
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    display: flex;
    height: 2.5rem;
    justify-content: center;
    outline: 1px solid var(--text-color);
    position: absolute;
    left: 0.75rem;
    top: 0.75rem;
    padding: 0.55rem;
    width: 2.5rem;
    
    &:hover {
      scale: 1.05;
    }
  }

  &__delete-btn---icon {
    fill: var(--text-color);
  }

  &__shoot_id {
    align-items: center;
    background: var(--background-color);
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    color: var(--text-color);
    display: flex;
    height: 2.5rem;
    justify-content: center;
    outline: 1px solid var(--text-color);
    position: absolute;
    right: 0.75rem;
    top: 0.75rem;
    padding: 0.55rem;
    width: 2.5rem;
    
    &:hover {
      scale: 1.05;
    }
  }

  .models__label, 
  .photographers__label {
    display: none;
  }
}


// @keyframes shake {
//   0% { 
//     transform: translateX(0); 
//     transform: translateY(0); 
//   }
//   25% { 
//     transform: translateX(-2px); 
//     transform: translateY(-2px); 
//   }
//   50% { 
//     transform: translateX(2px); 
//     transform: translateY(2px); 
//   }
//   75% { 
//     transform: translateX(-2px); 
//     transform: translateY(-2px); 
//   }
//   100% { 
//     transform: translateX(0); 
//     transform: translateY(0); 
//   }
// }

@keyframes shake {
  0%, 100% {
    transform: translate(0, 0) rotate(0);
    scale: 1;
  }
  25% {
    transform: translate(-0.1px, -0.1px) rotate(-0.5deg);
    scale: 0.999;
  }
  50% {
    transform: translate(0.1px, 0.1px) rotate(0.5deg);
    scale: 1;
  }
  75% {
    transform: translate(-0.1px, -0.1px) rotate(-0.5deg);
    scale: 0.999;
  }
}


.shoot.draggable {
  animation: shake 0.45s infinite;
}