@import '../../partials/mixins.scss';
@import '../../partials/variables.scss';

.loginForm {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  height: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  
  &__modal {
    background-color: var(--background-color);
    border-radius: var(--borderRadius);
    box-shadow: 0 0 10px var(--box-shadow);
    display: flex;
    flex-direction: column;
    min-height: 28rem;
    max-height: 33rem;
    max-width: 40rem;
    overflow-y: auto;
    padding-block: 1rem;
    padding-inline: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
    
    @media(min-width: $tablet) {
      padding-block: 2rem;
      width: 80%;
    }
  }
  
  &__title {
    color: var(--text-color);
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
    margin-top: 20%;
    text-align: center;
  }
  
  &__group {
    margin-bottom: 0.5rem;
  }

  &__label {
    display: none;
    margin-bottom: 5px;
  }

  &__form {
    display: none;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    
    &.show {
      display: flex;
    }
  }

  &__input {
    @include input;
    
    &:focus {
      outline: none;
    }
  }


  .passwordInput {
    position: relative;
    
    &__icon {
      display: none;
      
      &.show {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
        width: 3rem;
      }

      &--show {
        fill: var(--text-color);
      }

      &--hide {
        fill: var(--text-color);
      }
    }
  }

  &__error {
    color: var(--error-color);
    margin-top: 0.25rem;
    margin-inline-start: 0.5rem;
    visibility: hidden;
  }

  &__error.email-error{
    visibility: visible;
  }

  &__error.password-error{
    visibility: visible;
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }
    
  &__button {
    @include button;
    
    &--cancel {
      width: 100%;
    }
  }
}