@use "../../partials/mixins.scss" as mx;
@use "../../partials/variables.scss" as vars;

.home {
	padding-top: 2rem !important;
	@include mx.page;

	@media (min-width: vars.$tablet) {
		padding-top: 0 !important;
	}

	&__inner {
		padding-top: 2rem;
		@include mx.inner;

		@media (min-width: var(--tablet)) {
			margin-top: 4rem;
		}
	}
}
