@import '../../partials/mixins';
@import '../../partials/variables';

.datePicker {
  
  &__selector {
    @include input;
  }
  
  &__container {
    position: relative;
    width: 9rem;
  }
    
    &:focus, &:active {
      outline: 1px solid var(--text-color);
    }

  &__icon-container {
    position: absolute;
    right: 0.8rem;
    top: 0.45rem;
  }
}

