@import '../../partials/mixins';
@import '../../partials/variables';

.addShoot__date-picker {
  background: var(--background-color);
  color: var(--text-color);
  font-size: 1rem;
  outline: 1px solid var(--text-color);
  padding-inline: 0.25rem;
  width: 8rem;

  &:focus, &:active {
    outline: 1px solid var(--text-color);
  }
}

