@import '../../partials/mixins';
@import '../../partials/variables';

.shootDetails {
  @include page;
  background: var(--background-color);

  &__inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__photos {
    margin-top: 1.5rem;
    
    @media(min-width: $tablet) {
      margin-top: 7rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
    width: 100%;
  }
  
  &__date {
    background: gray;
    color: transparent;
    height: 2rem;
    margin-bottom: 0.125rem;
    margin-inline: auto;
    width: 100%;
    
    @media(min-width: $tablet) {
      margin-bottom: 0.75rem;
    }

    &.show {
      background: transparent;
      color: var(--text-color);
      font-size: 1.125rem;
      font-weight: normal;
      text-align: right;
      transition: color 0.2s ease-out;
    }
  }
  
  &__photographers {
    background: gray;
    color: transparent;
    height: 2rem;
    margin-inline: auto;
    min-width: 70%;

    &.show {
      background: transparent;
      color: var(--text-color);
      display:block;
      font-size: 1.125rem;
      font-weight: normal;
      text-align: center;
      transition: color 0.2s ease-out;
    }
  }
  
  &__models {
    background: gray;
    color: transparent;
    height: 2rem;
    margin-inline: auto;
    max-width: 90%;
    min-width: 50%;

    &.show {
      background: transparent;
      color: var(--text-color);
      display:block;
      font-size: 1.125rem;
      font-weight: normal;
      text-align: center;
      transition: color 0.2s ease-out;
    }
  }

  &__photos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 85%;
    
    @media(min-width: $tablet) {
      width: 70%;
    }
  }

  &__photo {
    @include shootImg;
  }


  &__divider {
    background-color: var(--text-color);
    border-radius: $borderRadius;
    height: 0.25rem;
    margin-top: 3rem;
    width: 90%;
  }

  &__photo-container {
    
    img {
      // box-shadow: var(--box-shadow);
    }
  }
}

.ShootDetailsPlaceholder {
  
  &__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 10rem;
    margin-block: 2rem;
    transition: all 1s ease-in-out;
    width: 100%;
    
    &.hide {
      display: none;
      transition: all 1s ease-in-out;
    }
  }

  &__date {
    background: gray;
    height: 2rem;
    margin-inline: auto;
    max-width: 15rem;
    width: 30%;
  }

  &__photographers {
    background: gray;
    height: 2rem;
    margin-inline: auto;
    max-width: 30rem;
    width: 70%;
  }

  &__models {
    background: gray;
    height: 2rem;
    margin-inline: auto;
    max-width: 25rem;
    width: 60%;
  }
}

.photoPlaceholder {
  @include shootImg;
  background: gray;
  transition: all 1s ease-in-out;
  
  &.hide {
    display: none;
    transition: all 1s ease-in-out;
  }
}

.shootDetails__bottom {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}