@import '../../partials/mixins.scss';
@import '../../partials/variables.scss';

.shootDetails {
  @include page;
  background: var(--background-color);

  &__inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  &__photos {
    margin-top: 1.5rem;
    position: relative;
  }


  &__photo-placeholders {
    position: sticky;
    opacity: 1;
    width: 100%;

    &.hide {
      display: none;
    }
  }

  &__date-placeholder {
    background: var(--placeholder-color);
    border-radius: var(--borderRadius);
    height: 1.5rem;
    margin-bottom: 0.6rem;
    margin-inline-start: auto;
    width: 6rem;
  }
  
  &__photo-placeholder {
    @include shootDetailsImg;
    
    background: var(--placeholder-color);
    border-radius: var(--borderRadius);
    margin-bottom: 2rem;
    
    &--1 {
      margin-bottom: 0;
    }
  }
  
  &__detail-placeholders {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 5rem;
    justify-content: center;
    margin-bottom: 1.75rem;
    margin-top: 0.5rem;
  }
  
  &__detail-placeholder {
    background: var(--placeholder-color);
    border-radius: var(--borderRadius);
    height: 1.75rem;
    
    &:first-of-type {
      margin-bottom: 0.4rem;
      width: 12rem;
    }

    &:last-of-type {
      width: 14rem;
    }
  }

  &__photo-container {
    display: none;
    
    &.show {
      display: block;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    letter-spacing: 2.5px;
    margin-top: 1.25rem;
    width: 100%;
  }
  
  &__date {
    background: var(--placeholder-color);
    color: transparent;
    height: 2rem;
    margin-bottom: 0.125rem;
    padding-inline-end: 0.25rem;
    width: 100%;
    
    @media(min-width: $tablet) {
      margin-bottom: 0.75rem;
    }

    &.show {
      background: transparent;
      color: var(--text-color);
      font-size: 1.125rem;
      font-weight: normal;
      text-align: right;
      transition: color 0.2s ease-out;
    }
  }
  
  &__photographers {
    background: var(--placeholder-color);
    color: transparent;
    height: 2rem;
    margin-inline: auto;
    min-width: 70%;

    &.show {
      background: transparent;
      color: var(--text-color);
      display:block;
      font-size: 1.125rem;
      font-weight: normal;
      text-align: center;
      transition: color 0.2s ease-out;
    }
  }
  
  &__models {
    background: var(--placeholder-color);
    color: transparent;
    height: 2rem;
    margin-inline: auto;
    max-width: 90%;
    min-width: 50%;

    &.show {
      background: transparent;
      color: var(--text-color);
      display:block;
      font-size: 1.125rem;
      font-weight: normal;
      text-align: center;
      transition: color 0.2s ease-out;
    }
  }

  &__photos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 85%;
    
    @media(min-width: $tablet) {
      width: 70%;
    }
  }

  &__photo {
    @include shootDetailsImg;
  }

  &__divider {
    background-color: var(--text-color);
    border-radius: var(--borderRadius);
    height: 0.25rem;
    margin-top: 3rem;
    width: 90%;
  }

  &__bottom {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
  }

  &__bottom-text {
    color : var(--text-color);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  &__models-label,
  &__photographers-label {
    display: none;
  }
}