@import '../../partials/mixins';
@import '../../partials/variables';


.testCustomSelect {
  background: white;
  height: 3rem;
  margin-inline: auto;
  margin-top: 2rem;
  outline: 2px solid red;
  position: relative;
  text-align: center;
  width: 30rem;
  z-index: 100;
}

.testCustomSelect__inner {
  background: orange;
  max-height: 3rem; 
  overflow-y: auto; 
  position: absolute;
  transition: max-height 0.5s ease;
  width: 100%;
}

.testCustomSelect.tall 
.testCustomSelect__inner {
  max-height: 30rem;
}

.testCustomSelect__option {
  align-items: center;
  display: flex;
  height: 3rem;
  justify-content: center;
  outline: 1px solid yellow;
}
