@import '../partials/variables';

// #888676 green grey color
// #C4C3C1 lighter green grey
// #F3F3F3 lightest green
// #3A3A3A Darkest
// #333333 off white

.app {
  // light mode custom variables
  &[data-color-mode='light'] {
    --text-color: #333333;
    // --navAndFooterBG: #FFFFFF;
    --navAndFooterBG: #F3F3F3;
    --background-color: #F3F3F3;
    --button-color: var(--background-color);
    --button-background: #888676;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    --nav-boxShadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    --footer-boxShadow: 0 -4px 8px rgba(0, 0, 0, 0.25);
  }
  
  // dark mode custom variables
  &[data-color-mode='dark'] {
    --text-color: #F3F3F3;
    --navAndFooterBG: #181717;
    --background-color: #4b4a4a;
    --button-color: var(--text-color);
    --button-background: var(--background-color);
    --box-shadow: 0 4px 8px rgba(37, 31, 31, 0.6);
    --nav-boxShadow: 0 4px 8px rgba(37, 31, 31, 0.6);
    --footer-boxShadow: 0 -4px 8px rgba(37, 31, 31, 0.6);
  }
}

@mixin page {
  align-items: center;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  // margin-top: calc(-100vh + 4rem);
  max-width: 1920px;
  margin-inline: auto;
  min-height: 100vh;
  padding-top: 2rem;
  padding-block: 4rem;
  padding-top: 0rem;
  width: 100%;

  @media(min-width: $tablet) {
    margin-top: 4rem;
  }
  
  @media(min-width: 768px) {
    margin-top: 0;
  }
}

@mixin button {
  align-items: center;
  border: none;
  border-radius: $borderRadius;
  background: var(--button-background);
  color: var(--button-color);
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 500;
  justify-content: center;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;

  &:hover, &:focus {
    background: var(--button-color);
    color: var(--button-background);
    outline: 1px solid var(--button-background);
    transition: all 0.3s ease;
  }

  &:active {
    transform: scale(0.98);
    transition: all 0.3s ease;
  }
}

@mixin buttonRounded {
  @include button;
  border-radius: 50px;
}

@mixin input {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.125rem;
  padding: 10px;
  width: 100%;
}

@mixin shootsContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  height: 80%;
  
  @media(min-width: $largeTablet) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media(min-width: $desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}

@mixin shootImg {
  aspect-ratio: 1 / 1;
  // object-fit: cover;
  max-width: 100%;
  // object-position: center top;
  width: 100%;
}

@mixin shootImgSkeleton {
  @include shootImg;
  background: grey;
}