
// page mixin for max width 1920px
@mixin page {
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  margin-inline: auto;
  max-width: 1920px;
  min-height: 100vh;
  outline: 1px solid #333;
  margin-top: -100vh;
  
  @media(min-width: 768px) {
    margin-top: 0;

  }
}

// @mixin pageIsiPhone {
//   @include page; 
// }