@import '../../partials/mixins';
@import '../../partials/variables';

.addShoot {
  background: var(--background-color);
  @include page;
  
  &__inner {
    border: 2px solid var(--text-color);
    padding-block: 2rem;
    padding-inline: 1rem;
    margin-top: 2rem;
    width: 90%;
    
    @media(min-width: $tablet) {
      margin-top: 7rem;
    }
    
    @media(min-width: $desktop) {
      max-width: 1000px;
    }
  }

  &__heading {
    color: var(--text-color);
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  &__form {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__date-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    left: 50%;
    z-index: 3;
  }

  &__date-picker {
    border-radius: $borderRadius;
    border: none;
    display: block;
    height: 2rem;
    margin-inline: auto;
    padding-inline: 0.5rem;
  }

  &__label {
    display: none;
  }

  &__textButton {
    color: var(--button-link);
    cursor: pointer;
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: -0.5rem;
    text-align: center;
    text-decoration: underline;
  }

  &__photographer-choosers {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__photographersAndModels-container {
    display: grid;
    gap: 1rem;
    
    @media(min-width: $largeTablet) {
      grid-template-columns: repeat(2, 1fr);
      margin-inline: auto;
      min-width: 100%;
    }
    
    @media(min-width: $desktop) {
      min-width: min(100%, 900px);
      width: 200px!important;
    }
  }


  &__photographerChoosers {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  &__modelChoosers {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  

  &__button-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 1000px;

    @media(min-width: $tablet) {
      flex-direction: row-reverse;
      padding-inline: max(2rem, 10%);
    }
  }
  
  &__button {
    @include button;
    gap: 2rem;
    width: 100%;
  }

  &__icon-container {
    position: absolute;
  }

  &__calendarIcon {
    fill: var(--text-color);
  }
}