@import '../../partials/mixins.scss';
@import '../../partials/variables.scss';

.addShoot {
  @include page;
  background: var(--background-color);
  color: var(--text-color);
  
  &__inner {
    border: 2px solid var(--text-color);
    margin-top: 2rem;
    padding-block: 2rem;
    padding-inline: 1rem;
    width: 90%;
    
    @media(min-width: $tablet) {
      margin-top: 4rem;
    }
    
    @media(min-width: $desktop) {
      max-width: 1000px;
    }
  }

  &__heading {
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
    
    @media(min-width: $tablet) {
      font-size: 2.5rem;
    }
  }
  
  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__date-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    left: 50%;
    z-index: 3;
  }

  &__date-picker {
    border: none;
    border-radius: var(--borderRadius);
    display: block;
    height: 2rem;
    margin-inline: auto;
    padding-inline: 0.5rem;
  }

  &__label {
    display: none;
    
    &--datePicker {
      display: block;
      margin-bottom: 0.5rem;
    }
  }

  &__photoUploads {
    display: grid;
    font-size: 1.5rem;;
    justify-content: center;
    padding-block: 1rem;
  }

  &__photoUpload {
    align-items: center;
    display: flex;
    height: 10rem;
    justify-content: center;
    width: 10rem;
    
    @media(min-width: $tablet) {
      height: 15rem;
      width: 15rem;
    }
    
    @media(min-width: $largeTablet) {
      height: 10rem;
      width: 10rem;
    }
  }
  
  &_photos-heading {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;

    @media(min-width: $tablet) {
      font-size: 1.75rem;
    }
  }

  &__photos-explainer {
    font-size: 1.25rem;
    text-align: center;
    width: 100%;
  }

  &__photoInputs {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, 1fr);
    justify-content: center;
    padding-block: 1rem;
    margin-block: 1rem;
    width: 100%;
    
    @media(min-width: 500px) {
      gap: 3rem;
      grid-template-columns: repeat(2, 1fr);
      min-width: 20rem;
    }
    
    @media(min-width: $tablet) {
      margin-block: 2rem;
      min-width: 30rem;
      padding-inline: 25%;
    }
    
    @media(min-width: $largeTablet) {
      gap: 2rem;
      grid-template-columns: repeat(5, 1fr);
    }
  }

  &__photoInput {
    height: 15rem;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    width: 15rem;
    
    @media(min-width: 500px) {
      height: 11rem;
      width: 11rem;
    }
    
    @media(min-width: 600px) {
      height: 12.5rem;
      width: 12.5rem;
    }
    
    @media(min-width: 700px) {
      height: 13.5rem;
      width: 13.5rem;
    }
    
    @media(min-width: $tablet) {
      height: 15rem;
      width: 15rem;
    }
    
    @media(min-width: $largeTablet) {
      height: 10rem;
      width: 10rem;
    }
  }

  &__selector {
    position: relative;
  }
  
  &__selector-removeIcon {
    height: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 0;
    
    &.show {
      align-items: center;
      display: flex;
      height: 3rem;
      justify-content: center;
      opacity: 1;
      transition: opacity 0.25s ease;
      width: 3rem;
      z-index: 1;
    }
  }
  
  &__minus-icon {
    stroke: var(--text-color);
  }

  &__textButton {
    align-items: center;
    display: flex;
    color: var(--button-link);
    cursor: pointer;
    font-size: 1rem;
    font-weight: normal;
    height: 1.75rem;
    justify-content: center;
    margin-bottom: -0.5rem;
    text-align: center;
    text-decoration: underline;
  }

  &__textButton-icon {
    height: 0.5rem;
    transform: translateY(-100%);
    width: 0.5rem;
  }
  
  &__add-stroke {
    stroke: var(--button-link);
  }

  &__photographersAndModels-container {
    display: grid;
    gap: 1rem;
    
    @media(min-width: $largeTablet) {
      grid-template-columns: repeat(2, 1fr);
      margin-inline: auto;
      min-width: 100%;
    }
    
    @media(min-width: $desktop) {
      min-width: min(100%, 900px);
      width: 200px!important;
    }
  }

  &__photographerChoosers,
  &__modelChoosers  {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  &__button-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 1000px;
    padding-block: 2rem;

    @media(min-width: $tablet) {
      flex-direction: row-reverse;
      padding-inline: max(2rem, 10%);
    }
  }
  
  &__button {
    @include button;
    gap: 2rem;
    width: 100%;
  }

  &__icon-container {
    position: absolute;
  }

  &__calendarIcon {
    fill: var(--text-color);
  }
}