@import '../../partials/mixins';
@import '../../partials/variables';

.footer {
  height: 4rem;

  &__inner {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }
}