@import './partials/variables';

/* css reset */
*, 
*::before, 
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

img {
  display: block;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-inline: auto;
  height: 100%;
  
  .touchOffDiv {
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
  }

  .loading {
    left: 50%;
    opacity: 1;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

    &::after {
      content: '';
      animation: spin 0.5s infinite linear; 
      border: 6px solid #fff;
      border-radius: 50%;
      border-top-color: transparent;
      display: block;
      height: 60px;
      width: 60px;
    }

    transition: opacity 0.25s ease;
  }

  .loading:not(.isLoading) {
    opacity: 0;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}

.colorModeToggle__container {
  position: fixed;
  top: 6rem;
  left: 2rem;
  height: 2rem;
  transition: all 2s ease-in;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  z-index: 10;
  
  &.show {
    border: 2px solid var(--button-color);
    user-select: auto;
    transition: all 0.5s ease-out;
    opacity: 1;
    pointer-events:all;

  }
}

.floating-button {
  background: white;
  border-radius: 50%;
  bottom: 2.5rem;
  cursor: pointer;
  display: flex;
  height: 3rem;
  position: fixed;
  right: 2.5rem;
  width: 3rem;
  z-index: 5;
}
