@import './partials/variables';

*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// research webkit-fill-available
html {
  scroll-behavior: smooth;
  // height: -webkit-fill-available;
}

body {
  // height: -webkit-fill-available;
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

.app {
  position: relative;
  margin-top: -100vh;
  min-height: 300vh;
  // max-width: 100vw;
  
  &.isiPhone {
    margin-top: calc(-100dvh - 4rem);

  }

  @media(min-width: $tablet) {
    margin-top: 0;
  }
}

.touchOff__div {
  height: 100vh;
  // margin-top: 100dvh;
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 2;
  // background: green;
  opacity: 0.5;
  
  &.behind {
    z-index: 0;

  }

  @media(min-width: $tablet) {
    display: none;
  }
}