@import '../../partials/variables';
@import '../../partials/mixins';

.nav {
  align-items: center;
  background: var(--navAndFooterBG);
  box-shadow: var(--nav-boxShadow); 
  display: flex;
  height: 5rem;
  justify-content: center;
  margin-top: 0;
  position: fixed;
  transition: all 600ms ease;
  top: 0;
  width: 100%;
  z-index: 1;

  &.hide {
    top: -6rem;
  }

  @media(min-width: $tablet) {
    align-items: center;
    display: flex;
    justify-content: center;
    left: 0;
    padding-block: 1rem;
    position: fixed;
    right: 0;
    }
    
  &.hide {
    top: 0;
    top: -5rem;
  }
  
  &__inner {
    align-items: center;
    display: flex;
    max-width: 1920px;
    padding-inline: 2.5rem;
    width: 100%;
    justify-content: center;
    
    @media(min-width: $tablet) {
      justify-content:baseline;
    }
  }

  &__logo {
    height: 3.75rem;
    height: 4.5rem;
    height: 4.25rem;
    margin-top: 0.25rem;
    height: 4rem;
    // border: 2px solid red;
  }

  &__links {
    display: none;
    
    @media(min-width: $tablet) {
      display: flex;
      gap: 3rem;
      margin-inline-start: auto;
      display: flex;
      align-items: center;
    }
  }
  
  &__link {
    // font-weight: bold;
    font-weight: 600;
    font-size: 1.25rem;
    letter-spacing: 1px;
    color: var(--text-color);
  }

  &__logout {
    display: none;
  }
  
  &__logout.loggedIn {
    @include buttonRounded;
    display: none;

    @media(min-width: $tablet) {
      display: block;
      margin-inline-start: 2rem;
    }
  }

  &__toggle-button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
    height: 2.5rem;
    justify-content: center;
    position: absolute;
    right: 2rem;
    top: 0.6rem;
    top: 1.3rem;
    width: 2rem;
    
    @media(min-width: $tablet) {
        display: none;
      }
    }
    
    &__toggle-icon {
      border: 2px solid var(--text-color);
      border-radius: 2px;
      min-width: 100%;
      width: 2rem;
  }
}
