@use "../../partials/mixins.scss" as mx;
@use "../../partials/variables.scss" as vars;

.notFound {
	@include mx.page;
	& {
		justify-content: center;
	}

	&__heading,
	&__sub-heading {
		color: var(--text-color);
		text-align: center;
	}

	&__sub-heading {
		margin-top: 1rem;
	}
}
