@import '../../partials/mixins.scss';
@import '../../partials/variables.scss';

.notFound {
  @include page;
  background-color: var(--background-color);
  justify-content: center;

  &__heading, 
  &__sub-heading {
    color: var(--text-color);
    text-align: center;
  }
  
  &__sub-heading {
    margin-top: 1rem;
  }
}